<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 包的扫描器主要是扫描@controller -->
    <context:component-scan base-package="com.hwy.web.controller"/>

    <!-- 注册两个新对象 主要是为了来处理springmvc中的其他anntation 如：@requestmapping -->
    <mvc:annotation-driven/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <!--配置登录拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--以下资源不被拦截-->
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/doAjaxLogin"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/files/**"/>
            <mvc:exclude-mapping path="/layer/**"/>
            <mvc:exclude-mapping path="/mainstyle/**"/>
            <mvc:exclude-mapping path="/ztree/**"/>
            <bean class="com.hwy.web.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <!--配置权限拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--以下资源不被拦截-->
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/register"/>
            <mvc:exclude-mapping path="/doAjaxLogin"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/files/**"/>
            <mvc:exclude-mapping path="/layer/**"/>
            <mvc:exclude-mapping path="/mainstyle/**"/>
            <mvc:exclude-mapping path="/ztree/**"/>
            <bean class="com.hwy.web.interceptor.PermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 上传文件拦截，设置最大上传文件大小10M=10*1024*1024(B)=10485760 bytes -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/><!-- jsp所在的前缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 配置静态资源映射 -->
    <mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>
    <mvc:resources location="/WEB-INF/images/" mapping="/images/**"/>
    <mvc:resources location="/WEB-INF/layer/" mapping="/layer/**"/>
    <mvc:resources location="/WEB-INF/mainstyle/" mapping="/mainstyle/**"/>
    <mvc:resources location="/WEB-INF/ztree/" mapping="/ztree/**"/>
    <mvc:resources location="/WEB-INF/photo/" mapping="/photo/**"/>
</beans>